:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  font-family: var(font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.expBox {
  display: flex;
  gap: 4px;
  align-items: center;
  height: 48px;
  border: 1px solid #f1efed;
}
.deptBox {
  width: 48px;
  height: 48px;
  background-color: #f1efed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deptBox:hover {
  cursor: pointer;
}
.deptCheck {
  width: 48px;
  height: 48px;
  background-color: #f1efed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deptCheck:hover {
  cursor: pointer;
}
.subBox {
  margin-bottom: 8px;
  gap: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #f1efed;
}
.subBox:hover {
  cursor: pointer;
  background-color: #f1efed;
}
.subCheck {
  width: 40px;
  height: 40px;
  background-color: #f1efed;
  display: flex;
  justify-content: center;
  align-items: center;
}
